---
layout: default
title: Blog
permalink: /blog/
---

<div class="container">
  {% if site.posts.size  == 0 %}
  <article class="article">
    <h3>Ups! Posts coming soon...</h3>
  </article>
  {% endif %}
  {% for post in site.posts %}
  <article class="article">
    <header class="article-header">
      <p class="article-date">
        {{ post.date | date: '%B %d, %Y' }}
      </p>
      <h2 class="article-title">{{ post.title }}</h2>
    </header>
    {% if post.picture %}
      <div class="article-picture" style="background-image: linear-gradient(rgba(40,48,68,0.6), rgba(40,48,68,0.6)), url({{ post.picture }})"></div>
    {% endif %}
    <p class="article-excerpt">
      {{ post.excerpt }}
    </p>
      <a class="article-read link" href="{{ post.url }}">Read more...</a>
  </article>
  {% endfor %}
  {% include newsletter.html %}
</div>
