<footer class="footer">
  <div class="container">
    <p>© 2017 Alberto Gallego. All rights reserved.</p>
    <div class="footer-social">
      <a class="footer-social-item" target="_blank" href="https://twitter.com/_albertogallego"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a class="footer-social-item" target="_blank" href="https://github.com/albertogallego"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a class="footer-social-item" target="_blank" href="https://www.linkedin.com/in/albertogallegocastro"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a class="footer-social-item" target="_blank" href="https://www.instagram.com/_albertogallego"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a class="footer-social-item" target="_blank" href="https://es.foursquare.com/_albertogallego"><i class="fa fa-foursquare" aria-hidden="true"></i></a>
      <a class="footer-social-item" target="_blank" href="mailto:albertogc2793@gmail.com"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
