<footer class="footer">
  <div class="wrapper">
    <div class="footer-content p-spacing desktop-hidden">
      <ul class="social">
        <li>
          <a
            class="p-spacing link-secondary"
            href="mailto:hello@lorenacorona.com"
            target="_blank"
            >hello@lorenacorona.com</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com/lorenacoronam"
            class="social"
            target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a
            href="https://linkedin.com/in/lorenacorona/"
            class="social"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://instagram.com/lorenacorona/"
            class="social"
            target="_blank"
            >Instagram</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-content p-spacing mobile-hidden">
      <div>
        <ul class="contact-list">
          <div>
            <a
              class="p-spacing link-secondary"
              href="mailto:hello@lorenacorona.com"
              target="_blank"
              >hello@lorenacorona.com</a
            >
          </div>
        </ul>
      </div>

      <div>
        <ul class="social">
          <li>
            <a
              href="https://twitter.com/lorenacoronam"
              class="social"
              target="_blank"
              >Twitter</a
            >
          </li>
          <li>
            <a
              href="https://linkedin.com/in/lorenacorona/"
              class="social"
              target="_blank"
              >LinkedIn</a
            >
          </li>
          <li>
            <a
              href="https://instagram.com/lorenacorona/"
              class="social"
              target="_blank"
              >Instagram</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
