<footer class="footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="p-spacing">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <div>
              <a class="p-spacing link-secondary" href="mailto:hello@lorenacorona.com" target="_blank">hello@lorenacorona.com</a>
              </div>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social">
          <li>
            <a href="https://twitter.com/lorenacoronam" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://linkedin.com/in/lorenacorona/" target="_blank">LinkedIn</a>
          </li>
          <li>
            <a href="https://instagram.com/lorenacorona/" target="_blank">Instagram</a>
          </li>
        </ul>

      </div>
    </div>

  </div>

</footer>
