<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="author" href="https://plus.google.com/u/0/+AlbertoGallegoCastro"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  {% feed_meta %}

  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Playfair+Display:700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css' rel='stylesheet' />
  {% seo %}
</head>
