<header>
  <nav class="navbar">
    <div class="container">
      <header class="navbar-description">
        <div class="navbar-picture" style="background-image: url('assets/images/header-photo.jpg')"></div>
        <p class="navbar-text">
          I’ve never believed in the current education system, so I have learned to code by myself, without universities. After a few years of experience, now it's the moment to build my own online products and share with the world what I am learning, in case someone is interested. I believe in working in a decentralized way, learning by doing and doing things simple. That's me. If you want to know me better just keep reading or <a class="link" href="https://twitter.com/_albertogallego" target="_blank">follow me on Twitter.</a>
        </p>
      </header>
    </div>
  </nav>
</header>
