<header>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-wrapper">
        <ul class="navbar-items">
          <li class="navbar-item">
            <a class="navbar-brand" href="/"><img src="/assets/images/logo.png"></a>
          </li>
        </ul>
        <ul class="right-navbar-items">
          <li class="navbar-item">
            <a href="/blog">Blog</a>
          </li>
          <li class="navbar-item">
            <a href="/travel">Travel</a>
          </li>
          <li class="navbar-item">
            <a href="/hire">Hire me <div class="dot dot-green"><span><span></span></span>
          </div></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
