<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<div class="newsletter" id="mc_embed_signup">
  <form action="https://lorenacorona.us13.list-manage.com/subscribe/post?u=a07c0ae46aa9a6355560daee4&amp;id=4f1907c620" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
  <h2 class="newsletter-title">Want to make it official?</h2>
  <p class="newsletter-body">If you want to follow my journey while I'm trying to make a better world you can join my email list. It's a very unannoying list, don't worry.</p>
  	<input type="email" value="" name="EMAIL" class="email-input" id="mce-EMAIL" placeholder="Email Address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a07c0ae46aa9a6355560daee4_4f1907c620" tabindex="-1" value=""></div>
      <div class="clear">
        <input type="submit" value="I'm in" name="subscribe" id="mc-embedded-subscribe" class="newsletter-button">
      </div>
      </div>
  </form>
</div>
