<div class="newsletter">
  <h3 class="newsletter-title">Want to make it official?</h3>
  <p class="newsletter-body">
    If you want to follow my journey while I'm trying to make a better world you
    can join my email list. It's a very unannoying list, don't worry.
  </p>
  <form
    method="post"
    action="https://www.mailblast.io/lists/6636bb17-d816-42b1-9f45-e42430ddb47d/subscribers/create_external"
    class="mb-form js-newsletter-form"
    novalidate="novalidate"
  >
    <div class="newsletter-inputs">
      <input
        type="email"
        name="subscriber[email]"
        class="email-input"
        placeholder="Email Address"
        required=""
        aria-required="true"
      />

      <div class="test mb-form-group-tk" aria-hidden="true">
        <input
          type="text"
          name="mb_6636bb17d81642b19f45e42430ddb47d"
          tabindex="-1"
          value=""
        />
      </div>
      <div class="mb-form-group mb-subscribe">
        <input
          type="hidden"
          name="success_redirect"
          class="mb-subscribe-redirect-url"
          value="https://lorenacorona.com/thanks"
        />
        <button id="" type="submit" class="newsletter-button mb-subscribe">
          I'm in
        </button>
      </div>
    </div>

    <span
      class="mb-message mb-success-message"
      default-message="You're in! Thank you for subscribing."
    ></span>
    <span class="mb-message mb-error-message"></span>
  </form>
</div>
