$font-family: 'Montserrat', sans-serif;

$heading-1-size: 60px;
$heading-1-responsive-size: 40px;
$heading-2-size: 60px;
$heading-2-responsive-size: 40px;

$body-size: 30px;
$body-responsive-size: 25px;

$white: #fcfcfc;
$black: #000000;
