/**
* Typography config
**/
$heading-1-size: 50px;
$heading-1-responsive-size: 30px;
$heading-2-size: 40px;
$heading-2-responsive-size: 25px;
$heading-3-size: 35px;
$heading-3-responsive-size: 20px;
$heading-4-size: 22px;
$heading-4-responsive-size: 18px;
$body-size: 16px;
$body-responsive-size: 14px;
$quote-size: 18px;
$quote-responsive-size: 16px;
$footer-size: 14px;
$footer-responsive-size: 12px;
$font-family-heading: 'Playfair Display', serif;;
$font-family-body: 'Merriweather', serif;
/**
* Grid config
**/
$claim-padding: 200px;
$claim-responsive-padding: 80px;
$section-padding: 50px;
