---
---

@import "minima";

@font-face {
    font-family: 'sofiapro-black';
    src: url('../assets/fonts/sofia_pro_black-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofiapro-light';
    src: url('../assets/fonts/sofia_pro_light-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofiapro-regular';
    src: url('../assets/fonts/sofia_pro_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/sofia_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$break-phonel: 480px;
$break-tabletp: 600px;
$break-tabletl: 1024px;
$break-laptop: 1220px;
$break-desktop: 1600px;

@mixin mq($media) {
  @if $media == phonel {
    @media only screen and (min-width: $break-phonel) {
      @content;
    }
  } @else if $media == tabletp {
    @media only screen and (min-width: $break-tabletp) {
      @content;
    }
  } @else if $media == tabletl {
    @media only screen and (min-width: $break-tabletl) {
      @content;
    }
  } @else if $media == laptop {
    @media only screen and (min-width: $break-laptop) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $break-desktop) {
      @content;
    }
  }
}


//header
.header {
  min-height: 55.95px;
  margin-bottom:30px;

	@include mq(tabletl) {
		padding-top: 50px;
	}
}


.site-title {
	width: 70%;

	img {
		width: 100%;
		max-width: 150px;
	}

	@include mq(phonel) {
		img {
			max-width: 200px;
		}
	}

	@include mq(tabletp) {
		width: 50%;
	}
}

.site-nav {
	position: relative;
	top: 0;
	width: 30%;
	border: 0;
	text-align: center;
	line-height: 1;

	@include mq(tabletp) {
		width: 50%;
	}
}

.nav-content {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	align-items: center;
}

.site-nav input:checked ~ .trigger {
	display: flex;
	flex-flow: column nowrap;
	padding: 40px;
	text-align: left;
	box-sizing: border-box;

	@include mq(tabletp) {
		flex-flow: row nowrap;
		text-align: right;
		padding: 0;
		margin: auto;
	}
}

.trigger {
	position: fixed;
	background-color: black;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	&-header {
		margin-bottom: 60px
	}

  @include mq(tabletp) {
		background-color: transparent;
		position: relative;
		height: auto;

		&-header {
			margin-bottom: 0;
		}
	}



	.nav-primary {
			font-family: sofiapro-black, Helvetica, Arial, sans-serif;
			color: white;
			font-size: 30px;
			margin-bottom: 10px;
			text-transform: lowercase;

			 @include mq(tabletp) {
				font-family: sofiapro-light, Helvetica, Arial, sans-serif;
				color: $text-color;
				font-size: 16px;
				margin-right: 40px;

				&:last-child {
					margin-right: 0;
				}
		}
	}
}



//content
.page-content {
  padding: 0;
  flex: 1;
  @include mq(tabletp) {
    padding: 30px 0;
  }
}

.title {
  font-family: sofiapro-black;
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 35px;

}

h2 {
  color: black;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.3;
}

body, p {
  color: #000;
  font-family: sofiapro-light,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 25px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
  text-decoration: underline;
}

.link-body {
  text-decoration: underline;
}

//home
.home {
  font-family: sofiapro-black,Helvetica,Arial,sans-serif;
  font-size: 30px;
	line-height: 1;
	padding: 60px 0;
  max-width: 800px;
  text-align: left;

	@include mq(tabletp) {
		font-size: 40px;
		padding: 120px 0;
	}
}

//articles
.post-categories {
  font-family: sofiapro-light, Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: lowercase;
  padding: 2px;
}


.post-link {
  font-family: sofiapro-semibold, Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-decoration: underline;
}


.post-title {
  font-family: sofiapro-black, Helvetica, Arial, sans-serif;
  font-size: 40px;
}

//newsletter
.newsletter {
    margin-top: 100px;
    background-color: black;
    padding-bottom: 50px;
}

.email-input {
  font-family: sofiapro-light;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 20px;
  color: #000;
  background-color: #fff;
  border-radius: 0px;
  border: none;
  width: 210px;
  height: 50px;
  font-size: 15px;
}

.newsletter-title {
  font-family: sofiapro-black;
  font-size: 32px;
  margin-top: 35px;
  color: white;
  text-align: center;
}

.newsletter-body {
  color: #fff;
  font-family: sofiapro-light,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 25px;
  max-width: 350px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;

  @include mq(tabletp) {
  max-width: 600px;
  }
}

.newsletter-button {
  display: inline-block;
  padding: 6px 3px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 0px;
  border: none;
  width: 120px;
  height: 50px;
  text-transform:uppercase;
  font-size: 15px;
  font-family: sofiapro-regular;
	cursor: pointer;

	&:hover {
		opacity: .8;
	}
}
//footer
footer {
  margin-top: 0;

	@include mq(tabletp) {
		margin-top: 90px;
	}
}

.p-spacing {
  font-family: sofiapro-light, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1.3;
  font-size: 16px;
  text-transform: lowercase;
}

.social {
  list-style-type: none;
  padding: 0;
  margin-bottom: 15px;
	margin-left: 0;
	display: flex;
	flex-flow: column nowrap;

	@include mq(tabletp) {
		flex-flow: row nowrap;
	}

	li {
		display: inline-block;
		margin-right: 40px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.wrapper {
  max-width: 1000px;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding-top: 10px;
}

.mobile-hidden {
	display: none;

	@include mq(tabletp) {
		display: flex;
	}
}

.desktop-hidden {
	display: flex;

	@include mq(tabletp) {
		display: none;
	}
}
