$calm-blue: #4d9de0;
$bright-blue: #2de1fc;
$dark-blue: #283044;
$white: #f4faff;
$black: #282828;
$red: #D33F49;
$green: #7fb842;
$red-outer: rgba(232,111,112,.4);
$green-outer: rgba(127, 184, 66, .4);
