.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  &-nav {
    margin-bottom: 2rem;
    &-item {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-social {
    &-item {
      color: $black;
      margin-right: 1em;
      i {
        font-size: 1.5em;
      }


      &:active,
      &:hover {
        color: $black;
        transition: 0.4s color;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
