.home-main {
  padding: 220px 0;
  margin-top: 15px;
  margin-bottom: 35px;
  background: linear-gradient(rgba(40, 48, 68, 0.5), rgba(40, 48, 68, 0.5)), url('/assets/images/me_1.jpg') no-repeat;
  background-position: center center;
  background-size: cover;

  h1 {
    margin: 0;
    color: white;
    width: 80%;
  }

  @include breakpoint(lg) {
    padding: 180px 0;
  }

  @include breakpoint(sm) {
    padding: 120px 0;
    background-position: right center;
    h1 {
      width: 70%;
    }
  }
  @include breakpoint(xs) {
    padding: 60px 0;
    background: linear-gradient(rgba(40, 48, 68, 0.5), rgba(40, 48, 68, 0.5)), url('/assets/images/me_1.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    h1 {
      width: 90%;
    }
  }

  @include breakpoint(xxs) {
    padding: 40px 0;
    background-position: center center;
    h1 {
      width: 100%;
    }
  }
}
