$navbar-height: 140px;

.navbar {
  margin-bottom: 0;
  font-family: $font-family-body;
  height: $navbar-height;
  line-height: $navbar-height;
  @include breakpoint(xs) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-brand {
    img {
      width: 120px;
      display: block;
    }
    @include breakpoint(xs) {
      img {
        width: 100px;
      }
    }
  }

  .navbar-wrapper {
    display: table;
    width: 100%;
  }

  .navbar-items {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width: 50%;
  }

  .right-navbar-items {
    @extend .navbar-items;
    text-align: right;
  }

  .navbar-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    a {
      border: 0;
      color: $black;
    }
  }
}
