body {
  font-family: $font-family-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  font-size: $body-size;
  line-height: $body-size + 10px;
  @include breakpoint(xs) {
    font-size: $body-responsive-size;
    line-height: $body-responsive-size + 10px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-heading;
  font-weight: 900;
  color: $black;
  margin: 1.5em 0 0.75em;
}

a.button,
button {
  font-family: $font-family-heading;
  font-weight: 700;
}

a {
  color: $black;
  font-weight: bold;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: $black;
    text-decoration: none;
  }
}

h1 {
  font-size: $heading-1-size;
  line-height: $heading-1-size + 10px;
  @include breakpoint(sm) {
    font-size: $heading-1-responsive-size;
    line-height: $heading-1-responsive-size + 10px;
  }
}

h2 {
  font-size: $heading-2-size;
  line-height: $heading-2-size + 10px;
  @include breakpoint(sm) {
    font-size: $heading-2-responsive-size;
    line-height: $heading-2-responsive-size + 10px;
  }
}

h3 {
  font-size: $heading-3-size;
  line-height: $heading-3-size + 10px;
  margin: 15px 0;
  @include breakpoint(sm) {
    font-size: $heading-3-responsive-size;
    line-height: $heading-3-responsive-size + 10px;
  }
}

h4 {
  font-size: $heading-4-size;
  line-height: $heading-4-size + 10px;
  @include breakpoint(sm) {
    font-size: $heading-4-responsive-size;
    line-height: $heading-4-responsive-size + 10px;
  }
}

.strong {
  font-weight: bold;
}

.quote {
  font-weight: 400;
  font-style: italic;
  font-size: $quote-size;
  margin-left: -1.75px;
  line-height: 1.48;
  letter-spacing: -.014em;
  text-indent: -.32em;
  padding: 35px;
  @include breakpoint(xs) {
    font-size: $quote-responsive-size;
    padding: 35px 0;
  }
}
