body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: $body-size;
  @include breakpoint(md) {
    font-size: $body-responsive-size;
    line-height: $body-responsive-size;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-family;
  font-weight: 700;
  color: $black;
  line-height: 1.6;
  letter-spacing: -2px;
  margin: 0;
}

p {
  margin: 0;
  font-weight: 600;
}

a.button,
button {
  font-weight: 700;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $black;
}

h1 {
  font-size: $heading-1-size;
  line-height: $heading-1-size;
  @include breakpoint(md) {
    font-size: $heading-1-responsive-size;
    line-height: $heading-1-responsive-size;
  }
}

h2 {
  font-size: $heading-2-size;
  line-height: $heading-2-size;
  @include breakpoint(md) {
    font-size: $heading-2-responsive-size;
    line-height: $heading-2-responsive-size;
  }
}

.medium {
  font-size: 20px;
  line-height: 1;

  @include breakpoint(md) {
    font-size: 18px;
  }
}

.small {
  font-size: 18px;
  line-height: 1;

  @include breakpoint(md) {
    font-size: 16px;
  }
}

.link {
  border-bottom: 1px solid $black;
  margin-bottom: 5px;
  display: inline-block;
}