---
layout: default
---

<article class="post">
  <div class="post-main" style="background-image: linear-gradient(rgba(40,48,68,0.6), rgba(40,48,68,0.6)), url({{ page.picture }})">
    <div class="container">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-tag">
        Tagged with {{ page.categories | join: ', ' }}
      </div>
    </div>

  </div>
  <div class="container">
    {{ content }}
    <div class="post-disqus">
      {% include disqus.html %}
    </div>
  </div>
</article>
